<strong>Olá, {{ deliveryman }} </strong> <br />
<p>Houve o cancelamento da entrega n° {{ delivery }} devido ao problema:</p>
<blockquote>
  <p>{{ description }}</p>
</blockquote> <br />
<strong>Data do cancelamento: </strong> {{ date }}
